/* .navbar-container{
    padding: 0px 65px 0px 65px;
}
.navbar-brand{
    color: #828EFF;
}
.navbar-nav .nav-link{
    color: #595959;
}
.navbar-nav.nav-link a:hover{
    color: #828EFF;
}

button.btn{
    border-radius: 12px 12px 12px 12px;
}
#btn-resume{
    border: 1px solid #4CD47D;
    color: #4CD47D;
    
}
#btn-auth{
    margin: 0px 0px 0px 12px;
    color: #fff;
    background: #828EFF;
}
#btn-resume:hover{
    opacity: 0.7;
}
#btn-auth:hover{
    opacity: 0.7;
}
.nav-link{
    font-size: 14px;
}
.col{
    display: flex;
    justify-content: center;
} */
.modal {
    width: 300px;
}
.modal-content {
    width: 300px;
}
.list-group-item:hover {
    cursor: pointer;
    background-color: rgba(228, 228, 228, 0.3)!important;
}