body {
    font-family: 'Roboto', sans-serif;
  }
#filters{
    background: #ffffff;
    padding: 30px;
    border-radius: 15px;
}
body{
    background: #f3f2f2;
}

.vacancy-card{
    background: #ffffff;
    width: 100%;
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 0px 12px 0px;
}
.vacancy-information{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.vacancy-title{

}
.vacancy-name{
    color: #828EFF;
    font-size: 22px;
}
.organization-name{
    color: #BBBBBB;
}
.vacancy-salary{
    font-size: 22px;
}
.vacancy-description{
    margin: 10px 0px 10px 0px;
}
.btn-feedback{
    border: none;
    display: flex;
    justify-content: center;
    color: #fff;
    padding: 7px;
    background: #828EFF;
    border-radius: 12px;
}
.btn-feedback:hover{
    border: none;
    background: #828EFF;
    opacity: 0.9;
}

.logo-title{
    color: #828EFF;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
}
a{
    text-decoration: none;
}

.fa-solid{
    color: #828EFF;
}


.vacancy-date{
    color: #BBBBBB;
}




.vacancy-container{
    background: #fff;
    border-radius: 15px;
    padding: 25px;
}
.vacancy-title{
    /* color: #828EFF; */
}
.vacancy-photo{
    display: flex;
    justify-content: right;
}
.vacancy-photo-container{
    background: #e5e5e5;
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    color: #BBBBBB;
}
.name-organization{
    color: #828EFF;
}
.feedback{
    display: flex;
    flex-direction: column;
    justify-content: center;
}