#salary::-webkit-slider-thumb {
    appearance: none;
    background: #828EFF;
    cursor: pointer;
}
#selectedGraph{
    transition: all 0.4s;
}
#addVacancy{
    background: #828EFF;
    color: #fff;
}