body {
    font-family: 'Roboto', sans-serif;
  }
#filters{
    background: #ffffff;
    padding: 30px;
    border-radius: 15px;
}
body{
    background: #f3f2f2;
}

.vacancy-card{
    background: #ffffff;
    width: 100%;
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 0px 12px 0px;
}
.vacancy-information{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.vacancy-title{

}
.vacancy-name{
    color: #828EFF;
    font-size: 22px;
}
.organization-name{
    color: #BBBBBB;
}
.vacancy-salary{
    min-width: 140px;
    font-size: 22px;
}
.vacancy-description{
    margin: 10px 0px 10px 0px;
}
.btn-feedback{
    border: none;
    background: #828EFF;
}
.btn-feedback:hover{
    border: none;
    background: #828EFF;
    opacity: 0.9;
}

.logo-title{
    color: #828EFF;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
}
a{
    text-decoration: none;
}

.fa-solid{
    color: #828EFF;
}

.filter-title{
    margin: 0px 0px 0px 5px;
}

.filter-section{
    margin: 18px 0px 0px 0px;
}

.feedback{
    display: flex;
    justify-content: space-between;
}
.vacancy-date{
    color: #BBBBBB;
    display: flex;
    align-items: flex-end;
}
.btn-primary{
    padding: 8px 18px 8px 18px;  
}

.btn-filter{
    color: #fff;
    background: #828EFF;
    border-radius: 12px;
    border: none;
    padding: 8px 16px 8px 16px;
}
.btn-filter:hover{
    opacity: 0.9;
}
input[type="checkbox"]:checked {
    background: #828EFF;
    border: none;
}