a{
    text-decoration: none;
}
.fa-user{
    color: #828EFF!important;
}
.btn-logout{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px 10px;
}
.toggledNavbar{
    cursor:pointer;
}
.navbar-nav{
    display: flex;
    min-width: 100px;
}
.full-text{
    cursor: pointer;
}